@page "/lessons/{id}"

<PageTitle>@lesson.Name</PageTitle>

    <button class="night-mode-btn btn btn-outline-secondary border-0" id="darkModeToggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
        </svg>
    </button>

<div class="container">

    @if(@lesson.YoutubeVideoPath != null)
    {
        <div class="bg-white d-flex justify-content-center align-items-center">
            <iframe width=100% height="504" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
        <br />
    }

    <h2>@lesson.Name</h2>
    <h4>@lesson.Description</h4>

    <hr />

    @if(@lesson.Contents != null){
        @foreach(var content in lesson.Contents)
        {
            <br />
            <br />
            <p><b>@content.Title</b> - <span>@content.Description</span></p>

            @if(content.ImagePath != null)
            {
                <img src="@content.ImagePath" width=100% class="rounded mx-auto d-block" />
                <br />
            }

            @if(content.Code != null)
            {
                <div class="code-frame">
                    <pre>
                    <code class="language-csharp">
                        @content.Code
                    </code>
                    </pre>
                </div>
            }
        }
    }

    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">Fikr bildirish</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Dars haqida va taklif uchun:</label>
                            <textarea class="form-control" style="min-height:500px" id="message-text" placeholder="Har qanday taklif va fikrlaringizni bildiring!"></textarea>
                        </div>
                    </form>
                    <button type="button" class="btn btn-outline-dark float-end" data-bs-dismiss="modal">Yopish</button>
                    <button type="button" class="btn btn-dark float-end">Jo'natish</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    p{
        font-family: 'Lucida Console',Arial, Helvetica, sans-serif
    }
    .container{
        width: 80%;
        align-content:center;
        align-self:center;
        align-items:center;
    }
    /* Custom CSS for code frame */
    .code-frame {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 20px;
      background-color: #f8f9fa; /* Bootstrap's background color for code blocks */
    }
</style>

@code {
    [Parameter]
    public string id { get; set; }

    private ELearning.UI.Model.Lesson lesson { get; set; }

    protected override async Task OnInitializedAsync()
    {
        lesson = new ELearning.UI.Model.Lesson
            {
                Id = new Random().Next(1, 1000),
                Name = "Darni qattig'i",
                Contents = new List<ELearning.UI.Model.Content>
                {
                    new ELearning.UI.Model.Content()
                    {
                        Id = new Random().Next(1,1000).ToString(),
                        Code = @"
using System;

class Program
{
    static void Main()
    {
        Console.WriteLine(""Hello, World!"");
    }
}
",
                        Title = "cp",
                        Description = "nusxalash (copy) uchun ishlatiladi",
                    },new ELearning.UI.Model.Content()
                    {
                        Id = new Random().Next(1,1000).ToString(),
                        Title = @"Languages",
                        Description = @"You can write .NET apps in C#, F#, or Visual Basic.
                                        C# is a simple, modern, object-oriented, and type-safe programming language.
                                        F# is a programming language that makes it easy to write succinct, robust, and performant code.
                                        Visual Basic is an approachable language with a simple syntax for building type-safe, object-oriented apps.",
                        ImagePath = "https://dotnet.microsoft.com/static/images/redesign/shared/languages.svg"
                    },
                    new ELearning.UI.Model.Content()
                    {
                        Id = new Random().Next(1,1000).ToString(),
                        Title = "Cross Platform",
                        Description = @"Whether you're working in C#, F#, or Visual Basic, your code will run natively on any compatible operating system. You can build many types of apps with .NET. Some are cross-platform, and some target a specific set of operating systems and devices.",
                        ImagePath = "https://dotnet.microsoft.com/static/images/redesign/learn/what-is-dotnet/cross-platform.svg"
                    },
                    new ELearning.UI.Model.Content()
                    {
                        Id = new Random().Next(1,1000).ToString(),
                        Title = "Libraries",
                        Description = @"To extend functionality, Microsoft and others maintain a healthy .NET package ecosystem.
                                        NuGet is a package manager built specifically for .NET that contains over 100,000 packages.",
                        ImagePath = "https://dotnet.microsoft.com/static/images/redesign/learn/what-is-dotnet/packages.svg"
                    },
                },
                Description = "description" + Guid.NewGuid().ToString(),
                YoutubeVideoPath = "https://youtu.be/0hijEaQYEtU?si=9J4Y3ELm3iLiE7Ml"

            };
    }
}

<style>
    .dark-mode {
        --text-color: #fff; /* Dark mode text color */
        --background-color: #222; /* Dark mode background color */
    }
</style>

<script>
    var darkModeToggle = document.getElementById('darkModeToggle');
    var body = document.body;

    darkModeToggle.addEventListener('click', function () {
        body.classList.toggle('dark-mode');
    });
</script>
